<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<script src="../lib/jquery-1.11.3.min.js"></script>
<script src="../lib/jquery-ui.js"></script>
<script src="../lib/jquery.confirm.min.js"></script>
<script src="../lib/jquery.modal.min.js"></script>
<script src="../lib/moderniz.2.8.1.js"></script>
<script src="../lib/jquery.bootgrid.js"></script>
<script src="../lib/jquery.bootgrid.fa.js"></script>
<script src="../lib/bootstrap.min.js"></script>
<script src="../js/admin.js"></script>
<link rel="stylesheet" href="../lib/bootstrap.min.css"></link>
<link rel="stylesheet" href="../lib/jquery.bootgrid.css"></link>
<link rel="stylesheet" href="../css/font-awesome.min.css"></link>
<link rel="stylesheet" href="../lib/jquery.modal.css"></link>
<link rel="stylesheet" href="../css/home.css"></link>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>
<link rel="stylesheet" href="../lib/animate.min.css"></link>
<link rel="stylesheet" href="../lib/prettyPhoto.css"></link>
<link rel="stylesheet" href="../css/header.css"></link>
<link rel="stylesheet" href="../lib/responsive.css"></link>
</head>
<body>
	<script> 
   	 	$(function(){
     		 $("#header").load("/header"); 
    	});
    </script> 
    <div id="header"></div>
	<div class="main_header">
		<p class="head">Internal Management</p>
		<div class="dropdown" id="cont">
			<button class="btn btn-primary dropdown-toggle" id="dropdownButton"
				type="button" data-toggle="dropdown" th:value="${username}">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li id="logout"><a href="#">Logout</a></li>

			</ul>
		</div>
	</div>

	<div class="second_header">

		<ul class="nav nav-pills">
			<li class="active"><a data-toggle="pill" href="#home">Home</a></li>
			<li id="employee-button"><a data-toggle="pill" href="#employees">Employees</a></li>
			<li id="project-button"><a data-toggle="pill" href="#project">Project</a></li>
			<li><a href="#">Updates</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
			<div class="body_content">
				<h2>Intro</h2>
<!-- 				<button id="delete" class="btn btn-primary">Click me</button> -->
				<p class="intro"></p>
			</div>
		</div>
		<div id="employees" class="tab-pane fade">
			<div class="span7">
				<h2>Employees</h2>
				<table id="grid"
					class="table table-condensed table-hover table-striped"
					data-selection="true" data-multi-select="false"
					data-row-select="true" data-keep-selection="true">
					<thead>
						<tr>
							<th data-column-id="id" data-type="numeric" data-order="asc"
								data-header-css-class="column" data-align="left"
								data-width="7%	">Sl.No</th>
							<th data-column-id="firstName" data-order="asc" data-align="left"
								data-header-css-class="column" data-header-align="left"
								data-width="14%">Employee Name</th>
							<th data-column-id="lastName" data-order="asc" data-align="left"
								data-header-css-class="column" data-header-align="left"
								data-width="14%">Last Name</th>
							<th data-column-id="employeeNum" data-type="numeric"
								data-header-css-class="column" data-align="left"
								data-width="10%" id="empNum">Employee No</th>
							<th data-column-id="commands" data-formatter="commands"
								data-header-css-class="column" data-sortable="false"
								data-width="10%">Commands</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="container"></div>
		</div>
		<div id="project" class="tab-pane fade">
			<div class="span7">
				<h2>Project</h2>
				<table id="grid"
					class="table table-condensed table-hover table-striped"
					data-selection="true" data-multi-select="false"
					data-row-select="true" data-keep-selection="true">
					<thead>
						<tr>
							<th data-column-id="id" data-type="numeric" data-order="asc"
								data-header-css-class="column" data-align="left"
								data-width="7%	">Sl.No</th>
							<th data-column-id="name" data-order="asc" data-align="left"
								data-header-css-class="column" data-header-align="left"
								data-width="14%">Name</th>
							<th data-column-id="status" data-order="asc" data-align="left"
								data-header-css-class="column" data-header-align="left"
								data-width="14%">Status</th>
							<th data-column-id="repository" data-order="asc"
								data-align="left" data-header-css-class="column"
								data-header-align="left" data-width="14%">Repository</th>
							<th data-column-id="commands" data-formatter="commands"
								data-header-css-class="column" data-sortable="false">Commands</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="container"></div>
		</div>
	</div>
	<!-- <div role="dialog" tabindex="-1"
		class="confirmation-modal modal fade in" style="display: block;"
		aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close"
						type="button">×</button>
					<h4 class="modal-title">Hello there!</h4>
				</div>
				<div class="modal-body">Are you sure?</div>
				<div class="modal-footer">
					<button data-dismiss="modal" type="button"
						class="confirm btn btn-primary">Yes I am</button>
					<button data-dismiss="modal" type="button"
						class="cancel btn btn-default">Cancel</button>
				</div>
			</div>
		</div>
	</div> -->
</body>
</html>