<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Designation</title>
<script type="text/javascript" src="../lib/jquery-1.11.3.min.js"></script>
<script src="../lib/jquery-ui.js"></script>
<script  src="./js/designation.js" th:src="@{../js/designation.js}"></script> 
</head>
<body>
	<label>Designation</label>
	<input id="designationName" type="text"/>
	<button id="saveDesignation" class="Save">Save</button>
</body>
</html>