<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<script src="../lib/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../lib/bootstrap.min.css"></link>
<link rel="stylesheet" href="../lib/jquery.bootgrid.css"></link>
<link rel="stylesheet" href="../lib/jquery.modal.css"></link>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>
<link rel="stylesheet" href="../lib/animate.min.css"></link>
<link rel="stylesheet" href="../lib/prettyPhoto.css"></link>
<link rel="stylesheet" href="../lib/responsive.css"></link>
<link rel="stylesheet" href="../css/header.css"></link>
	<script> 
   	 	$(function(){
     		 $("#header").load("/header"); 
    	});
    </script> 
</head>
<body>
	<div id="header"></div>
	<label>Project</label>
	<br></br>
	<label>Project Name</label>
	<input id="projectName" type="text" />
	<br></br>
	<label>Client</label>
	<select id="client"><option></option></select>
	<br></br>
	<label>Project Status</label>
	<input id="status" type="text" />
	<br></br>
	<label>Repository</label>
	<input id="repository" type="text"></input>
	<br></br>
	<button id="saveProject" class="Save">Save</button>

	<button id="listProjects">Get Projects</button>

	<div class="show-projects" id="show-projects">
		<table id="projectTable" class="project-table" cellpadding="0"
			cellspacing="0">
			<!-- <tr>
				<th >Name</th>
				<th >Client</th>
				<th >Status</th>
				<th >Repository</th> 
			</tr> -->
		</table>


	</div>
	<script src="../lib/jquery-ui.js"></script>
	<script src="../lib/jquery.confirm.min.js"></script>
	<script src="../lib/jquery.modal.min.js"></script>
	<script src="../lib/moderniz.2.8.1.js"></script>
	<script src="../lib/jquery.bootgrid.js"></script>
	<script src="../lib/jquery.bootgrid.fa.js"></script>
	<script src="../lib/bootstrap.min.js"></script>
	<script src="../js/header.js"></script>
	<script src="../js/project.js"></script>
</body>
</html>